<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

</head>
<body>
    
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">hundle form</h1>
   <form action="/add_user" method="post">
       <input type="text" name="username" class="form-control" placeholder="Name" required><br>
       <input type="text" name="name" class="form-control" placeholder="enter full name" required><br>
       <input type="email" name="email" class="form-control" placeholder="enteremail" required><br>
       <input type="submit" value="add " class="btn btn-success">

   </form>
</div>
</div>
</body>
</html>